/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #682550;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: larger;
}
img {
    max-width: 100%;
   
    margin: 0 auto;
    border-radius: 10px;
    height: 130px;
}


/* Estilos para las secciones de contenido */

section {
    margin-bottom: 30px;
    padding: 20px;
}

ul li a {
    text-decoration: none;
    text-decoration-color: black;
  }
  ul li a:hover {
    text-decoration: underline; 
    color: #da84bc;
}
  

h2 {
    border-bottom: 2px solid #af4c9b;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
